<div class="row">
<h1><%=line_item.product.name%></h1>
     <p> Quantity is : <%= line_item.quantity%></p>
     <img class="col-sm-2" src = "<%=line_item.product.image%>"
     <p><%=line_item.product.description%></p>
     <span>Total item price : <%=line_item.item_price%></span>
     <p> hello there! </p>
</div>